body {
    background-image: url(img/hatter.webp);
    background-position: center;
    background-repeat: repeat-x;
} 

.fej {
    background-color: cornsilk;
    width: 60%;
    margin-top: 40px;
    margin-left: 40px;
    padding: 15px;
    height: auto;
    border: 4px solid black;
    border-radius: 10px;
}

.logo {
    float: right;
    height: 175px;
    width: auto;
    border-radius: 10px;
}

h1 {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    margin-left: 20px;
    color: crimson;
    font-style: italic;
}

.miert {
    padding: 15px;
    float: right;
    width: 48%;
    background-color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 20px;
}

li {
    list-style-type: square;
    
}

.eredmenyek {
    padding: 15px;
    background-color: black;
    width: 48%;
    color: cornsilk;
    border-radius: 20px;
}

.eredmeny {
    font-weight: bold;
    font-size: 1.2rem;
}

.vonal {
    font-weight: bolder;
    color: blueviolet;
    font-size: 3rem;
}

.elso:hover {
    font-weight: bold;
    color: gold;
}

.masodik:hover {
    font-weight: bold;
    color: silver;
} 

.harmadik:hover {
    font-weight: bold;
    color: rgb(223, 157, 71);
}

span:hover {
    font-weight: bold;
    color: darkturquoise;
}

.kep1 {
    width: 340px;
}

.info {
    background-color: cornsilk;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    border: 4px solid black;
    border-radius: 10px;
    width: 70%;
    height: auto;
    padding: 15px;
}

.nyitvatartas {
    background-color: whitesmoke;
    width: 45%;
    text-align: center;
    
}

table {
    width: 300px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

td {
    border: 3px solid black;
}

.elerhetoseg {
    background-color: black;
    color: whitesmoke;
    width: 45%;
    padding: 15px;
    float: right;
    border-radius: 10px;
}

.itallap {
    width: 30%;
    margin: 40px;
    float: right;
    background-color: cornsilk;
    border: 4px solid black;
    border-radius: 10px;
}

.desszertek {
    width: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    background-color: cornsilk;
    border: 4px solid black;
    border-radius: 10px;
}