body {
    background-image: url(img/hatter.webp);
    background-position: center;
    background-repeat: repeat-y;
} 

.fej {
    background-color: cornsilk;
    width: 60%;
    margin-top: 40px;
    margin-left: 40px;
    padding: 15px;
    height: auto;
    border: 4px solid black;
    border-radius: 10px;
}

.logo {
    float: right;
    height: 175px;
    width: auto;
    border-radius: 10px;
}

h1 {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    margin-left: 20px;
    color: crimson;
    font-style: italic;
}

.miert {
    padding: 15px;
    float: right;
    width: 48%;
    background-color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 20px;
}

li {
    list-style-type: square;
    
}

.eredmenyek {
    padding: 15px;
    background-color: black;
    width: 48%;
    color: cornsilk;
    border-radius: 20px;
}

.eredmeny {
    font-weight: bold;
    font-size: 1.2rem;
}

.vonal {
    font-weight: bolder;
    color: blueviolet;
    font-size: 3rem;
}

.elso:hover {
    font-weight: bold;
    color: gold;
}

.masodik:hover {
    font-weight: bold;
    color: silver;
} 

.harmadik:hover {
    font-weight: bold;
    color: rgb(223, 157, 71);
}

span:hover {
    font-weight: bold;
    color: darkturquoise;
}

.kep {
    width: 340px;
}

.itallap {
    width: 30%;
    margin: 40px;
    float: right;
    background-color: cornsilk;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
}

.desszertek {
    width: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    background-color: cornsilk;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
}

.kavee  {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.desszert {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

a {
    color: chocolate;
} 

a:hover {
    text-decoration: none;
    color: darkgray;
}

.ures {
    width: 20%;
    margin: 40px;
    height: 250px;
}

.info {
    background-color: cornsilk;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    border: 4px solid black;
    border-radius: 10px;
    width: 70%;
    height: auto;
    padding: 15px;
}

.nyitvatartas {
    background-color: whitesmoke;
    width: 48%;
    text-align: center;
    border-radius: 10px;
}

table {
    width: 300px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.td {
    border: 3px solid black;
}

.elerhetoseg {
    background-color: black;
    color: whitesmoke;
    width: 48%;
    padding: 15px;
    border-radius: 10px;
    float: right;
    line-height: 35px;
    margin-top: 20px;
}

.galeria {
    width: 75%;
    float: right;
    background-color: cornsilk;
    padding: 15px;
    border: 4px solid black;
    border-radius: 10px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.no1 {
    float: right;
    margin: 40px;
    margin-right: 150px;
    margin-top: 100px;
    opacity: 70%;
}

.no-1 {
    margin: 40px;
    margin-left: 65px;
    margin-top: 150px;
    opacity: 70%;
}